[run]
source =     
    routers
    services
    models
    utils
omit =
    *tests*
    *main.py*
    */config/*

[report]
omit =
    *tests*
    *main.py*
    */config/*

fail_under = 0
show_missing = True
skip_covered = True