celery>=5.5.3
fastapi[all]>=0.116.1
motor>=3.7.1
python-dotenv>=1.1.1
redis>=6.4.0
uvicorn>=0.35.0
black>=25.1.0
flake8>=7.3.0
isort>=6.0.1
mypy>=1.17.1
python-multipart>=0.0.20
pyjwt>=2.10.1
passlib[bcrypt]>=1.7.4